html {
  min-height: 100%; margin:0; padding:0;
}

body {
  margin:0px;
  color:#111111;
  height: 100%;
  font-family: "Open Sans", "Helvetica", sans-serif;
  font-size:large;
  background:#e7e1e2;
}

A:link {text-decoration:none; color:#004052; }
A:visited {text-decoration:none; color:#004052; }
A:active {text-decoration:none; color:#004052; }
A:hover {text-decoration:underline; color:#00989a; }

img { border:0px; vertical-align:middle; }

button { border: 2px solid #666666; border-radius:8px; cursor:pointer;
  background:#c9b609; box-shadow:1px 1px 1px #2f2b00;
  padding:0px 3px; font-size:large; font-weight:bold; }
.ghostbutton { background:none; }

#rhouterdiv { padding:5px; }
#rhcontentdiv { position:relative; }

/* -------------------- */
/* linear */

circle { clip-path: url(../#clip); }
.focusCircle { cursor:pointer; }
#mouseoverLabel { fill:#f00; font-weight:bold; }
#menudiv { position:absolute; left:320px; top:0px; margin-top:-3px; }
.menuline, .menulinemain, .menulinesub { 
  background:url('../img/menuback.png'); text-align:center; }
.menulinemain { padding:5px; }
.menulinesub { padding:2px 2px 2px 20px; }
#suppvisdiv { position:absolute; left:80px; top:80px; 
  visibility:hidden; background:#e0cb07; overflow:scroll;
  padding:10px; border-radius:5px; border: 2px solid #666666; }
#statmsgdiv { font-size:16px; height:16px; margin-top:-5px; }
#itemdispdiv { position:absolute; left:80px; top:80px; 
  visibility:hidden; background:#e0cb07; overflow:scroll;
  padding:5px; border-radius:50px; border: 2px solid #666666; 
  box-shadow:5px 5px 3px #2f2b00; }
#dlgdatediv { padding:0px 20px; text-align:center; }
#dlgdatespan { background:#fce934; }
#dlgdatequestion { font-style:italic; font-weight:bold; }
#dlgxdiv, #aboutxdiv { float:right; font-size:x-small; font-weight:bold; 
  margin:-3px -3px 0px 0px; }
#dlgcontentdiv { clear:both; overflow:scroll; }
.dlgpicdiv { margin-top:5px; float:right }
.infopic { margin:0px 0px 5px 10px; max-width:120px; max-height:166px; }
.picnamediv { margin:0px 0px 0px 10px; text-align:center; max-width:120px; 
  font-size:x-small; background-image:url('../img/whitewash.png'); }
.dlgtextdiv, .dlgsavediv { margin-top:2px; background:#ebd400; 
  padding:4px 4px 4px 4px; overflow:scroll; 
  font-family: "Palatino Linotype", "Palatino", serif; }
.dlgsavediv { font-family: "Open Sans", "Helvetica", sans-serif; }
#dlgbuttondiv { clear:both; text-align:center; padding:5px 0px 5px 0px; }
#dlgbuttondiv button { margin:0px 3px; }
.dlgbuttonsep { padding:0px 5px; }
.dispdatemonth { font-size:medium; }
.dispdateday { font-size:medium; }
.dispdateyear { font-size:large; font-weight:bold; }
.dispdatebce { font-size:medium; font-weight:bold; }

#genindspan { font-size:small; margin-left:10px; }
.genbutton { font-size:x-small; vertical-align:top; margin-left:10px; }
#genentrytitlediv { text-align:center; font-weight:bold; }
.genentrylabel { text-align:right; font-size:small; }
.genyearinput { width:4em; }
#genbuttonsdiv { text-align:center; margin-bottom:10px; }

.zoom { fill:none; pointer-events:all; }
.tick line { visibility:hidden; }
.contextCircle { fill:#ccc; }
.contextLabel { font-weight:bold; }
.contextArrowhead { stroke:#999; fill:#ccc; }
.contextArrowhead:hover { fill:#333; }
.contextMidline { stroke:#999; }
.elevatortext { fill:#999; font-weight:bold; font-style:italic; 
  text-anchor:middle; }

#introdlgdiv { padding:0px 10px 20px 0px; }
#introtitlediv { font-size:x-large; font-weight:bold; text-align:center;
  padding:10px 10px 10px 16px; line-height:150%;
  font-family: "Open Sans", "Helvetica", sans-serif;
}
#startdiv { float:right; padding:40px; cursor:pointer;
  background:#07e048; width:40px; height:40px; border-radius:50%; 
  border: 2px solid #666666; box-shadow:3px 3px 1px #2f2b00; }
#startcontdiv { margin:8px 0px 0px -8px; 
  font-size:x-large; font-weight:bold; }

#dlgsavelevinfdiv { text-align:center; font-weight:bold; font-size:small; 
  padding:5px 2px 10px 2px; }
#dlgsavebrowserdiv, #dlgsavelinkdiv, #dlgsaveservermsgdiv { 
  font-weight:bold; padding:10px 0px 0px 20px; }
.infodlgdecospan { padding-left:4px; }
.buttonintrospan { font-style:italic; padding:0px 5px 0px 0px; }
.checkboxdiv { display:inline-block; }
#choicebuttonsdiv { display:inline-block; padding:3px 15px; 
  border-radius:20px; }
#remcblabel { font-size:small; }
.buttonptcodeslabelspan {font-size:x-small; font-style:italic; }
.buttonptcodesdiv { font-size:small; }

#leftcoldiv { position:absolute; left:0px; top:0px; background:#e7e1e2; }
#lcontdiv, #tcontdiv { position:absolute; left:0px; top:0px; }
#navdiv { position:absolute; left:0px; top:-5px; }
.levnumbackrect { stroke:#999; fill:#f8e6a0; }
.levelnumber { }
.progbarback   { stroke:#999; fill:#ccc; }
.progbarfilled { stroke:#999; fill:#00ff4c; }

.sbOuterRect { stroke:#999; cursor:pointer; }
.sbInnerRect { stroke:#999; cursor:pointer; }
.sbShadowRect { }
.sbClickRect { stroke:none; fill:none; cursor:pointer; }
.svintext { font-weight:bold; cursor:pointer; }
.clickable { cursor:pointer; }

#abgdiv { position:absolute; left:0px; top:0px; line-height:0px; 
  background:#fffae5; opacity:0.5; }
.bgpicdiv { display:inline-block; overflow:hidden; text-align:center; }
.bgpicimg { opacity:0.6; }

#refdiv { padding:8px 10px 0px 10px; font-weight:bold; font-style:italic; 
  color:#555; }
#interactimg, #disptoggleimg { width:18px; height:18px;
  margin:2px 5px 2px 5px; }
#disptoggleimg { margin:0px 5px 2px 5px; }
#aboutdiv { float:right; font-size:medium; margin:3px 3px 0px 0px; }
#abokbuttondiv { clear:both; text-align:center; padding:5px 0px 5px 0px; }

#dlgtitlediv { padding:5px 20px; text-align:center; font-weight:bold; 
  font-size:x-large; font-family: "Open Sans", "Helvetica", sans-serif; }
.dlgformline { padding:2px 0px; }
.liflab { font-size:medium; font-weight:normal; text-align:right; 
  padding:0px 2px 0px 2px; display:block; float:left; width:80px; }
.lifin { padding:0px; font-size:small; width:145px; }
.lifsep { clear:both; }
#forgotpassdiv { text-align:center; font-size:medium; padding:6px 0px 0px 0px; }
.dlgbackimg { max-height:27px; opacity:0.5; }
#loginstatdiv { padding:5px 0 0 0; }
#cbnewacclabel { font-size:medium; }
.fieldhelpdiv { font-size:small; }

/* -------------------- */
/* tabular */
.trowdiv { padding-bottom:10px; }
.trowdatediv { display:table-cell; min-width:80px; padding-right:10px; 
  text-align:right; }
.trowdescdiv, .trowdescdivrem { display:table-cell; font-size:medium; }
.trowdescdivrem { font-weight:bold; }
.tcspan { font-size:small; font-style:italic; }
.tdspan { font-size:small; }
.tdspanyo { font-size:large; }
.bcespan { font-size:x-small; font-style:italic; font-weight:bold; }
.txtpicdiv { float:left; }
.txtpicimg { max-width:80px; max-height:80px; }
.editlink { font-size:x-small; }

#downloadlinkdiv { padding:0px; font-size:small; display:inline-block; }
.downloadlinkimg { margin:0px; }
.srchinspan { font-size:small; }
#srchin { margin-left:5px; }
#downloadoptsdiv { margin:20px; }
#dloptseltitlediv { font-style:italic; }
.dloptseldiv { min-width:100px; padding:10px 10px 2px 2px;
  background-image:url('../img/whitewash.png'); }
#downloadactiondiv { min-width:150px; font-weight:bold; padding:16px 0px; }

.formicoimg { max-width:25px; max-height:25px; }
.formseldiv { display:inline-block; }
#tlrndmaxin { width:3em; }
#ppsin {width:2em; }
.wlab { font-size:medium; font-weight:normal; text-align:right; 
  padding:0px 2px 0px 2px; display:block; float:left; width:90px; }
.wfin { padding:0px; font-size:small; width:200px; }
#etlsetdiv { border:2px solid #666666; border-radius:5px; margin-bottom:10px;
  padding:5px 0px; }
.buttonsdiv { text-align:center; }
.buttonsdiv button { background:white; margin-right:10px; }
#tcontheaddiv { padding-left:10px; margin-top:-8px; }
.yearin { width:4em; }
.ptseldiv { font-size:x-small; font-weight:normal; }
#pointsdispdiv { overflow:scroll; }

#svsdispdiv { padding-left:10px; font-size:medium; }
.svlistnamediv { font-size:large; font-weight:bold; }
.svlistnamespan { padding-left:10px; }
.svlistdescdiv { padding-left:10px; }
.svlistdiv { padding:5px 0px; }

/* -------------------- */
/* visualizations */

.tranctrl { vertical-align:middle; cursor:pointer; opacity:0.5; }
.tranctrl:hover { opacity:0.8; }

/* sv0: Intro */
#sv0contdiv { }
#sv0timediv { font-size:small; text-align:center; }
#sv0textdiv { font-size:small; text-align:center; padding:20px 0px 10px 0px; }
#sv0linkdiv, #sv0closediv, #sv0buttonsdiv { 
  font-size:large; font-weight:bold; text-align:center;
  padding:5px 10px 15px 10px; }
#sv0txtdiv { background:#d6edf2; padding:10px; border-radius:10px;
  border:2px solid #666666; box-shadow:3px 3px 1px #333; }

/* sv2: lynching */
#mapdiv { position:absolute; left:0px; top:0px; }
#bardiv { position:absolute; left:0px; top:0px; }
#lytdiv { position:absolute; left:0px; top:0px; padding:10px;
  background-image:url('../img/bleachscrub.png'); font-size:medium; }
.yaxis .tick line { visibility:visible; }
.xaxis .tick line { visibility:visible; }
#lytransg { opacity:0.8; }
#lycircg { opacity:0.5; }
.lynchcrittdiv { text-align:center; font-size:x-large; font-weight:bold; }
.lynchcritpdiv { font-size:medium; }
.lynchcritsdiv { font-size:small; font-style:italic; }
#lynchritol { margin:5px 2px; padding:2px 0px 2px 14px; }
#lynchritol li { padding-bottom:5px; }
.lynchcrititemdiv { background-image:url('../img/bleachscrub.png'); }
#lysumtotaltext { font-size:28px; font-weight:bold; }
#lyxdiv { position:absolute; right:0px; top:0px; padding:8px 10px; }
