html {
  min-height: 100%; margin:0; padding:0;
}

body {
  margin:0px;
  color:#111111;
  height: 100%;
  font-family: "Open Sans", "Helvetica", sans-serif;
  font-size:large;
}

A:link {text-decoration:none; color:#004052; }
A:visited {text-decoration:none; color:#004052; }
A:active {text-decoration:none; color:#004052; }
A:hover {text-decoration:underline; color:#00989a; }

#rhouterdiv { padding:5px; }

/* -------------------- */
/* linear */

circle { clip-path: url(../#clip); }
.focusCircle { fill:#000; }
.focusCircle:hover { fill:#f00; }
#mouseoverLabel { fill:#f00; font-weight:bold; }
.zoom { fill:none; pointer-events:all; }
.tick line { visibility:hidden; }
.contextCircle { fill:#ccc; }
.contextLabel { font-weight:bold; }
.contextArrowhead { stroke:#999; fill:#ccc; }
.contextMidline { stroke:#999; }



/* -------------------- */
/* tabular */
.trowdiv { padding-bottom:10px; }
.trowdatediv { display:table-cell; min-width:80px; padding-right:10px; 
  text-align:right; }
.trowdescdiv { display:table-cell; font-size:medium; }
.tcspan { font-size:small; font-style:italic; }
.tdspan { font-size:small; }
.tdspanyo { font-size:large; }
.bcespan { font-size:x-small; font-style:italic; font-weight:bold; }
