html {
  min-height: 100%; margin:0; padding:0;
}

body {
  margin:0px;
  color:#111111;
  height: 100%;
  font-family: "Open Sans", "Helvetica", sans-serif;
  font-size:large;
}

A:link {text-decoration:none; color:#004052; }
A:visited {text-decoration:none; color:#004052; }
A:active {text-decoration:none; color:#004052; }
A:hover {text-decoration:underline; color:#00989a; }

#rhouterdiv { padding:5px; }

/* -------------------- */
/* linear */

circle { clip-path: url(../#clip); }
.focusCircle { }
#mouseoverLabel { fill:#f00; font-weight:bold; }
#itemdispdiv { position:absolute; left:80px; top:80px; 
  visibility:hidden; background:#e0cb07; overflow:scroll;
  padding:10px; border-radius:10px; border: 2px solid #666666; 
  box-shadow:5px 5px 3px #2f2b00; }
.dlgdatediv { float:left; }
.dlgxdiv { float:right; font-size:xx-small; font-weight:bold; 
  margin:-3px -3px 0px 0px; }
.dlgtextdiv { clear:both; }
.zoom { fill:none; pointer-events:all; }
.tick line { visibility:hidden; }
.contextCircle { fill:#ccc; }
.contextLabel { font-weight:bold; }
.contextArrowhead { stroke:#999; fill:#ccc; }
.contextMidline { stroke:#999; }



/* -------------------- */
/* tabular */
.trowdiv { padding-bottom:10px; }
.trowdatediv { display:table-cell; min-width:80px; padding-right:10px; 
  text-align:right; }
.trowdescdiv { display:table-cell; font-size:medium; }
.tcspan { font-size:small; font-style:italic; }
.tdspan { font-size:small; }
.tdspanyo { font-size:large; }
.bcespan { font-size:x-small; font-style:italic; font-weight:bold; }
