*~
*.pyc
.DS_Store
ref/srcdat/node_modules
ref/srcdat/scratch
ref/port/py
build/node_modules
build/fetchedlocptids.csv
build/fetchedpubptids.csv
pastkey/public/docs/locpts.json
pastkey/public/docs/tldev.json
