*~
*.pyc
.DS_Store
ref/srcdat/node_modules
ref/srcdat/scratch
build/node_modules
build/fetchedlocptids.csv
build/fetchedpubptids.csv
usracehistory-195216/docroot/docs/locpts.json
usracehistory-195216/docroot/docs/tldev.json
